/*
 align-self 속성 : 특정 플렉스 항목만 선택하여 교차축 배치 방법을 정하는 속성
*/
.container{
    display: flex;
    border: 1px solid black;
    height: 500px;
}

.box{
    width: 100px;
    height: 100px;
    background: green;
}

/*
 align-items 에서 사옹한 속성들과 동일 속성을 갖는다
*/
.box1{
    align-self: center;
}

.box2{
    align-self: flex-end;
}

.box3{
    height: auto;
    align-self: stretch;
}