/*
 클래스 선택자는 클래스 명을 이용해서 동일한 태그 중
 특정 태그에만 다른 스타일을 적용하고 싶을 때 사용 . 을 사용한다
 */

p{
    font-size: 20px;
}

.txt1{
    font-size: 10px;
    color: aqua;
}

.txt2{
    color: violet;
}

/*
 여러개의 태그에서 같은 클래스를 가지고 있을 때
 특정 태그의 클래스만 스타일을 적용.
 */
 p.txt3{
    color: red;
    
 }


 /*
 태그 전체가 아닌 일정부분만 스타일을 적용할 때는
 span 태그로 감싸고 클래스 선택자를 이용해 스타일 적용
 */
 .txt4{
    font-size: 8px;
    font-weight: bold;
 }