/*
 box-sizing 속성:
 width, height 속성의 적용범위를 설정하는 속성
 width, height 속성 값이 border까지 적용될것인지 
 컨텐츠 영역에만 적용할 것인지 설정한다.
*/
div {
    margin: 10px;
}

.box1 {
    background: orange;
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 10px solid black;
    /*
     100px이 padding과 border를 포함한 크기가 된다.
     컨텐츠 영역의 크기는 60px x 60px
    */
    box-sizing: border-box;
}

.box2 {
    background: orange;
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 10px solid black;
    /*기본값*/
    box-sizing: content-box;
}