/*border 속성: 테두리 관련 속성을 한 번에 지정하는 속성*/
h1 {
    padding-bottom: 5px;
    border-bottom: 3px solid red;
}

p {
    padding: 10px;
    border: 2px dotted gray;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-top: 1px dotted black;
    border-right: 5px dashed red;
    border-bottom: 10px solid green;
    border-left: 20px double blue;
}