/*
 border-radius 속성 : 테두리 꼭지점 부분을 둥글게 만들어 주는 속성.
 지정하는 값은 원형으로 만들어지는 원의 반지름 값.
*/
div{
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid black;
    display: inline-block;
}

.box1{
    /*각 꼭지점을 다른 크기로 둥글게 만듦 반지름의 크기*/
    /*
     각 꼭지점을 타원형으로 둥글게 만들기!
     가로반지름 세로반지름 길이 두개 값을 줘서 지정한다~
     */
    border-top-left-radius: 30% 15%;
    border-top-right-radius: 40px 80px;
    border-bottom-right-radius: 40% 20%;
    border-bottom-left-radius: 70px 35px 70px;
}

.box2{
    /*모든 꼭지점을 동일한 크기로 둥글게 만들다.*/
    /*모든 꼭지점을 타원형으로 둥글게 만들기~ 가로반지름/세로반지름 길이*/
    border-radius: 90px/190px;
}
