/*
 color 속성 : 글자의 색상을 지정하는 속성,
 font 관련 속성이 아니기 때문에 font 속성에서 지정할 수 없고
 따로 지정한다!
*/

h1{
    /*16진수 값으로 지정할 때는 앞에 # 을 붙인다.*/
    color: #fa87bc;
}
h2{
    /*16진수 값으로 지정할 때 2자리씩 반복되는 값은 세 자리로 축약해서 표현할 수 있다.*/
    /*#ffaa00*/
    /* 0ffacc => 0fac(x) */
    color: #fa0;
}

.ex{
    /* 0faacc => #0fac(x) 다른컬러가 나온다 */
    color: #0fac;
    color: #0faacc;
}


h3{
    /*
     rgb값을 지정할 때는 red, green, blue 값을 0~255 까지 값을 지정해서
     색상의 조합으로 색상을 결정한다. => 16진수도 마찬가지다.
    */
    color: rgb(130,100,50);
}

p{
    /*색상이름으로 지정 가능함*/
    color: lightblue;
}