/*
 letter-spacing : 글자 사이의 간격 조절

 word-spacing : 단어 사이의 간격 조절(space바 크기를 조절하는 역할)
*/
h1{
    font-size: 40px;
}

.spacing1{
    letter-spacing: 0.2rem;
}

.spacing2{
    letter-spacing: 0.5rem;
}

.spacing3{
    word-spacing: 0.5rem;
}