/*가상요소 : 특정 태그 앞이나 뒤에 내용을 추가하거나 스타일을 추가하는 요소*/

/*
 :before => 특정 태그 앞에 내용이나 스타일을 추가
*/

p::before{
    /*content 속성 : 가상요소의 내용을 추가함*/
    content: 'not ';
    color : green;
}

/*
 ::after => 특정 태그 뒤에 내용이나 스타일 추가
*/
p::after{
    content: '적용합니다.';
    color: red;
}
