/*vertical-align 속성: 셀 안의 내용을 수직정렬 속성*/

table{
    border: 1px solid black;
    /*기본값은 seperate 로 설정하지 않으면 표와 셀의 테두리가 분리되어 표출됨*/
    border-collapse: collapse;/*통합하는 속성*/
    width: 500px;
}

th,td{
    border: 1px solid black;
    height: 100px;
    text-align: center;
}

.td1{
    vertical-align: top;
}

.td1{
    vertical-align: middle;
}

.td1{
    vertical-align: bottom;
}